.cards-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 100vw;
    max-width: 80vw;
    height: 65vh;
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 8px -4px rgb(56, 57, 57);
}
.swipe{
    position: absolute;
}
.card>h1{
    color: white;
    position: absolute;
    bottom: 7vh;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}